/* Estilos de Alerta */
.alert {
    padding: 12px 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #31708f; /* color para info */
    background-color: rgba(0, 0, 0, 0.05); /* transparent background */
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Tipos de alerta */
.info {
    background-color: #d9edf7;
    color: #31708f;
}

.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.error {
    background-color: #f2dede;
    color: #a94442;
}

/* Close Button Style */
.closeButton {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

.closeButton:hover {
    color: rgba(0, 0, 0, 0.8);
}
